{% for req in package.all_requires %}
    {% if req.is_vcs() %}
        -e {{ req.vcs }}+{{ req.source }}@{{ req.reference }}#egg={{ req.name }}
    {% else %}
        {{ req.name }}{% if not req.constraint.is_any() %}{{ req.constraint }}{% endif %}
    {% endif %}
{% endfor %}
